@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #222831;
  z-index: 6;
}
.preloader__icon {
  position: fixed;
  border: 15px solid #74C69D;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.preloader__icon-big {
  position: fixed;
  border: 15px solid transparent;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-left-color: #74C69D;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}
.preloader__vanish {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
}
.navbar__content {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  max-width: 40rem;
}
.navbar__content__element {
  list-style: none;
}
.navbar__content__element__anchor {
  color: #f2fff4;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}
.navbar__content__element__anchor:hover {
  color: #74C69D;
  transform: translateY(8px);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#14181d 40%, #222831, #222831);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.hero__title {
  margin-top: auto;
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 2rem;
  font-weight: 100;
  color: #74C69D;
  z-index: 2;
}
.hero__title-lined {
  padding-left: 2rem;
  color: #14181d;
  background-color: #74C69D;
  text-align: center;
}
.hero__subtitle {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  color: #f2fff4;
  text-align: center;
  z-index: 2;
}
.hero__go-bottom {
  margin-bottom: 3rem;
  margin-top: auto;
  text-align: center;
  text-decoration: none;
  line-height: 3.25rem;
  font-size: 2.5rem;
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 2rem;
  background-color: #74C69D;
  color: #222831;
  -webkit-animation: go-down-button 3s ease-in-out infinite, appear 5s forwards;
          animation: go-down-button 3s ease-in-out infinite, appear 5s forwards;
  z-index: 2;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.hero__go-bottom:hover {
  background-color: #D8F3DC;
}
@-webkit-keyframes go-down-button {
  10% {
    transform: translateY(20px);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(20px);
  }
  40% {
    transform: translateY(0px);
  }
}
@keyframes go-down-button {
  10% {
    transform: translateY(20px);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(20px);
  }
  40% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  display: flex;
  flex-direction: row;
  margin: 1.25rem;
  margin-top: 3rem;
  padding-bottom: 2.5rem;
  scroll-margin-top: 9rem;
  color: #f2fff4;
}
.about p {
  margin: 0.5rem 1rem;
  font-size: 1.25rem;
}
.about__vertical-text {
  padding-top: 1.25rem;
  font-size: 3rem;
  font-weight: 200;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  border-left: 0.125rem solid #f2fff4;
  transform: rotate(180deg);
}
.about__text__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.about__text__container h1 {
  margin: 1.8rem;
  font-size: 3rem;
  padding-left: 0.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  border-left: 0.3rem solid #f2fff4;
}
.about__skills {
  margin: 1.25rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  gap: 1.25rem;
}
.about__skills__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: #f2fff4;
  width: 7.5rem;
}
.about__skills__skill p {
  padding-top: 0.2rem;
  text-align: center;
  color: #74C69D;
}
.about__skills__skill i, .about__skills__skill .iconify {
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  background-color: #74C69D;
  color: #222831;
}

.projects {
  display: flex;
  flex-direction: row;
  margin: 1.25rem;
  margin-top: 3rem;
  padding-bottom: 2.5rem;
  scroll-margin-top: 9rem;
  color: #f2fff4;
}
.projects p {
  margin: 0.5rem 1rem;
  font-size: 1.25rem;
}
.projects__vertical-text {
  padding-top: 1.25rem;
  font-size: 3rem;
  font-weight: 200;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  border-left: 0.125rem solid #f2fff4;
  transform: rotate(180deg);
}
.projects__text__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.projects__text__container h1 {
  margin: 1.8rem;
  font-size: 3rem;
  padding-left: 0.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  border-left: 0.3rem solid #f2fff4;
}
.projects__project__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
.projects__project__list__project__card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 20px;
}
.projects__project__list__project__card img {
  width: 18rem;
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.projects__project__list__project__card img:hover {
  transform: scale(105%);
  box-shadow: #14181d 0px 1.5rem 1.25rem -1.25rem;
}
.projects__project__list__project__card__title {
  margin: 1rem 0px !important;
  text-decoration: none;
  text-align: left;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 2.5rem !important;
  color: #74C69D;
  width: 100%;
}
.projects__project__list__project__card__text {
  font-size: 1.25rem;
  max-width: 18rem;
  margin-bottom: 1rem;
  min-height: 5rem;
}
.projects__project__list__project__card__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.projects__project__list__project__card__links__link {
  padding: 0.75rem;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  color: #222831;
  background-color: #74C69D;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.projects__project__list__project__card__links__link-alt {
  color: #74C69D;
  background-color: #222831;
}
.projects__project__list__project__card__links__link-alt:hover {
  color: #222831;
}
.projects__project__list__project__card__links__link:hover {
  background-color: #D8F3DC;
}

.contact {
  display: flex;
  flex-direction: row;
  margin: 1.25rem;
  margin-top: 3rem;
  padding-bottom: 2.5rem;
  scroll-margin-top: 9rem;
  color: #f2fff4;
}
.contact p {
  margin: 0.5rem 1rem;
  font-size: 1.25rem;
}
.contact__vertical-text {
  padding-top: 1.25rem;
  font-size: 3rem;
  font-weight: 200;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  border-left: 0.125rem solid #f2fff4;
  transform: rotate(180deg);
}
.contact__text__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.contact__text__container h1 {
  margin: 1.8rem;
  font-size: 3rem;
  padding-left: 0.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  border-left: 0.3rem solid #f2fff4;
}
.contact__text__container__social__media__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 30rem;
  height: 100%;
  margin: 1.25rem;
}
.contact__text__container__social__media__list__social__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 1.25rem;
}
.contact__text__container__social__media__list__social__media p {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0%;
}
.contact__text__container__social__media__list__social__media-icon {
  text-align: center;
  text-decoration: none;
  font-size: 2.25rem;
  line-height: 3.75rem;
  height: 3.75rem;
  width: 3.75rem;
  color: #222831;
  background-color: #74C69D;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}
.contact__text__container__social__media__list__social__media-icon:hover {
  background-color: #D8F3DC;
  transform: translateY(0.5rem);
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  -ms-transform: translateY(0.5rem);
  -o-transform: translateY(0.5rem);
}
.contact__text__container__social__media__list__social__media-icon:hover + p {
  color: #D8F3DC;
  -webkit-animation: opacity 1s linear forwards;
          animation: opacity 1s linear forwards;
}
@-webkit-keyframes opacity {
  10% {
    opacity: 0;
  }
  50% {
    transform: translateY(8px);
    opacity: 50%;
  }
  100% {
    transform: translateY(8px);
    opacity: 100%;
  }
}
@keyframes opacity {
  10% {
    opacity: 0;
  }
  50% {
    transform: translateY(8px);
    opacity: 50%;
  }
  100% {
    transform: translateY(8px);
    opacity: 100%;
  }
}
.contact__text__container__social__media__list__email {
  margin: 1.25rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: #f2fff4;
}
.contact__text__container__social__media__list__email:hover {
  color: #74C69D;
}

.fade {
  width: 100%;
  height: 6rem;
  background: linear-gradient(#222831, #14181d 95%);
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #14181d;
}
.footer p {
  font-size: 0.9rem;
  padding: 1.25rem;
  color: #f2fff4;
}
.footer__languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0px 1.25rem 1.25rem 1.25rem;
  font-size: 0.8rem;
}
.footer__languages li {
  padding: 0px 0.2rem;
  color: #f2fff4;
}
.footer__languages a {
  text-decoration: none;
  color: #f2fff4;
}
.footer__languages a:hover {
  color: #74C69D;
}

@media (orientation: landscape) and (max-height: 500px) {
  .hero__title {
    margin-top: 30vh;
  }
}
@media only screen and (max-width: 449px) {
  .navbar {
    font-size: 0.8rem;
  }
  .hero__title {
    font-size: 3.5rem;
    letter-spacing: 0.75rem;
  }
  .hero__title-lined {
    padding-left: 1rem;
    letter-spacing: 1rem;
  }
  .hero__go-bottom {
    line-height: 3rem;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
  }
  .hero__subtitle {
    font-size: 1.1rem;
  }
  .about {
    display: flex;
    scroll-margin-top: 5.5rem;
    flex-direction: column;
    margin: 1.25rem;
  }
  .about__vertical-text {
    padding-top: 0rem;
    margin-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: 400;
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    border-left: 0rem;
    border-bottom: 0.125rem solid #f2fff4;
    transform: rotate(0deg);
  }
  .about__text__container {
    display: flex;
    flex-direction: column;
    margin: 0rem;
  }
  .about__text__container h1 {
    margin: 1.25rem 0px;
    font-size: 2.25rem;
  }
  .about p {
    margin: 0.15rem auto;
    font-size: 1.1rem;
  }
  .about__skills {
    margin: 0rem auto;
  }
  .about__skills i {
    line-height: 3.125rem;
    font-size: 2rem;
    height: 3.125rem;
    width: 3.125rem;
  }
  .about__skills .iconify {
    height: 3.125rem;
    width: 3.125rem;
  }
  .projects {
    display: flex;
    scroll-margin-top: 5.5rem;
    flex-direction: column;
    margin: 1.25rem;
  }
  .projects__vertical-text {
    padding-top: 0rem;
    margin-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: 400;
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    border-left: 0rem;
    border-bottom: 0.125rem solid #f2fff4;
    transform: rotate(0deg);
  }
  .projects__text__container {
    display: flex;
    flex-direction: column;
    margin: 0rem;
  }
  .projects__text__container h1 {
    margin: 1.25rem 0px;
    font-size: 2.25rem;
  }
  .projects p {
    margin: 0.15rem auto;
    font-size: 1.1rem;
  }
  .projects__project__list__project__card img {
    width: 17rem;
    height: 17/0.125rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects__project__list__project__card__title {
    font-size: 2rem !important;
  }
  .projects__project__list__project__card__text {
    font-size: 1.1rem;
    max-width: 17rem;
    min-height: 4rem;
  }
  .projects__project__list__project__card__links__link {
    font-size: 1rem;
  }
  .contact {
    display: flex;
    scroll-margin-top: 5.5rem;
    flex-direction: column;
    margin: 1.25rem;
  }
  .contact__vertical-text {
    padding-top: 0rem;
    margin-bottom: 1.25rem;
    font-size: 2rem;
    font-weight: 400;
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    border-left: 0rem;
    border-bottom: 0.125rem solid #f2fff4;
    transform: rotate(0deg);
  }
  .contact__text__container {
    display: flex;
    flex-direction: column;
    margin: 0rem;
  }
  .contact__text__container h1 {
    margin: 1.25rem 0px;
    font-size: 2.25rem;
  }
  .contact p {
    margin: 0.15rem auto;
    font-size: 1.1rem;
  }
  .contact__text__container__social__media__list__social__media-icon {
    line-height: 3rem;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
  }
  .contact__text__container__social__media__list__email {
    font-size: 1.1rem;
  }
  hr {
    padding: 0.2rem !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1694px) {
  .hero__title {
    font-size: 5rem;
    font-weight: 100;
  }
  .about, .projects, .contact {
    scroll-margin-top: 6rem;
  }
  .about__skills {
    margin: 20px auto;
    max-width: 1200px;
  }
  .projects__project__list__project__card img {
    width: 25rem;
    height: 12.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects__project__list__project__card__text {
    max-width: 25rem;
  }
}
@media only screen and (min-width: 1695px) {
  .hero__title {
    font-size: 5rem;
    font-weight: 100;
  }
  .about, .projects, .contact {
    scroll-margin-top: 7rem;
    margin: 20px auto;
    max-width: 1695px;
  }
  .projects__project__list__project__card img {
    width: 25rem;
    height: 12.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects__project__list__project__card__text {
    max-width: 25rem;
  }
}
* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: #74C69D #1e222a;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e222a;
}

::-webkit-scrollbar-thumb {
  background-color: #74C69D;
}

body {
  background-color: #222831;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 20px;
  background-color: #14181d;
}

hr {
  padding: 1.2rem;
  border: 0px;
}/*# sourceMappingURL=styles.css.map */